<div class="footer-dark bg-body-tertiary">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/image/Nlk7XXUg.png" height="100px" width="100px">
          <br />
          <p>All India Institute of Medical Sciences, <br>
            Sri Aurobindo Marg, Ansari Nagar East,<br>
            New Delhi- 110029</p>
        </div>
        <div class="col-md-4">
          <h4 class="text" style="text-align: center;">Social Media Handles</h4>
          <br />
          <div class="col item social">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-whatsapp"></i></a>
            <p class="copyright"> AIIMS , New Delhi © 2024</p>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="form-outline form-white mb-4" style="margin-top: 10px;">
            <label class="form-label" for="form5Example2" style="font-size: 20px; font-weight: bold;">Email
              Address</label>
            <input type="email" id="form5Example2" class="form-control" />
          </div>
          <button type="submit" class="btn btn-outline-white btn-block"
            style="background-color: brown;color: whitesmoke;">Subscribe</button>
          <br />
          <br />
        </div>
      </div>
    </div>
  </footer>
</div>