<div _ngcontent-ng-c1931638237="" class="about-banner">
    <div _ngcontent-ng-c1931638237="" class="container banner-container">
      <h1 _ngcontent-ng-c1931638237="">Staff Home</h1>
    </div>
  </div>
  
  <div class="has-bg-img bg-blend-screen ">
      <div class="bg-img bg-cover">
          <ul class="nav nav-tabs" role="tablist" style="margin-top: 80px;">
            <li class="nav-item" role="presentation">
              <a class="nav-link " id="simple-tab-0" data-bs-toggle="tab" routerLink="/staffnew"  role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">New</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab"  role="tab" routerLink="/staffactive" aria-controls="simple-tabpanel-1" aria-selected="false">Active</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab"  role="tab" routerLink="/staffclosed" aria-controls="simple-tabpanel-2" aria-selected="false">Closed</a>
            </li>
          </ul>
          <br/>
          <br/>
          
          <div class="container">  
              <div class="table-responsive">  
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Sr.No.</th>
                          <th>Ref.No</th>
                          <th>Department</th>
                          <th>Categories</th>
                          <th>Concern</th>
                          <th>Status</th>
                          <th>Registered</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    </table>
              </div>  
          </div>  
          </div>
          </div>
  

